@import url(http://fonts.googleapis.com/css?family=Lato:100);

/* 共通部分 */
body {
    color: #ffffff;
    background-color: #00267f;
    /* background:#f7f7f7 url(../images/pattern.png) repeat top left; */
    background-image: url(../images/background.png);
    
    
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;

    text-decoration: none;
}

.normalLink  {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffa500;

    text-decoration: none;
}


p {
    font-size: 16px;
    line-height: 1.375;
}

/* a:hover { */

/*     color: #c0c0c0; */
/* } */

#page {
    width: 980px;
    margin: 0 auto;
}


.pageTitle {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    line-height: 1.231;
    margin: 30px 10px;
}

.pageTitle .orange {
    font-size: 64px;
    line-height: 1.09375;
    color: #ff710a;
}

.pageTitleText {
    margin-bottom: 30px;
}

/* ページヘッダー */
#siteTitle {
    font-size: 26px;
    line-height: 1.231;
    margin-bottom: 0;
}

#siteTitle .orange {
    color: #ff710a;
}


#catchcopy {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 35px;
}

/* グローバルナビ */
#pageHead .globalNavi
{
    /*
    border: solid #CCCCCC;
    border-width: 1px 0;
    padding: 5px 0;
    margin-top: 30px;
   */
    margin: 20px auto;
    
    border-top:    1px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}

#pageHead ,globalNavi ul {
    margin: 0;
    padding: 0;
}

#pageHead .globalNavi ul:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


*:first-child+html .group {
    zoom: 1;
} /* IE7 */

#pageHead .globalNavi ul li {
    list-style: none;
    width: 122.5px;
    float: left;
    /* border-left: solid 1px #CCCCCC; */
    /* padding: 0 5px; */
    
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.429;
}

#pageHead .globalNavi ul li:first-child {
    border-left: none;
}

#pageHead .globalNavi ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
    line-height: 0.7;
    padding: 10px;
}

#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current_page_item a{
    /* background-color: #191970; */
    background-color: #ffa500;
}

#pageHead .globalNavi ul li small {
    font-size: 10px;
    color: #808080;
    padding: 0;
    margin: 0;
}

#pageHead .global ul li.link {
    padding: 0 5px;
}

/* Magic Line  */
#example-one { 
    margin: 0;
    padding: 0;
    list-style: none; 
    position: relative; 
    width: 980px; 
}

#example-one li { 
    display: inline-block;
}

#magic-line { 
    position: absolute;
    bottom: -5px; 
    left: 0; 
    height: 10px; 
    background: url(../images/bg_magic-line.png) center top;
}

.current_page_item a { 
    color: white !important; 
}

.ie6 #example-one li, .ie7 #example-one li { 
    display: inline; 
}

.ie6 #magic-line {
    bottom: -3px;
}




/* フッター */
#pageFoot {
    margin-top: 30px;
}

#copyright {
    text-align: right;
}

#copyright small {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 1.429;
    font-weight: bold;    
}

/* 共通部分ここまで */

/*================================================
 
 Home

==================================================*/
.two-column:after {
    content:"";
    display:block;
    clear:both;
}
.homeTitle {
    width: 490px;
    float: left;
}

.clubName {
    font-size: 26px;
    line-height: 1.231;
    padding: 0 0 0 30px; /* 左だけpaddingを30pxに */
    margin: 10px 0;
}

.hoseiUniversity {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    line-height: 0.9;
    color: #ff710a;
    margin-top: 50px;
    margin-bottom: 0;
}

.softTennisClub {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    line-height: 0.9;
    color: #ff710a;
    padding: 0;
    margin: 0;
}

.wanted {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 1.25;
    margin: 0;
}

.wantedText {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.text {
    width: 440px;
    padding: 10px;
}


.topics .orange {
    font-size: 64px;
    line-height: 1.09375;
    color: #ff710a;
}

.topics h2 {
    font-family: 'Lato', sans-serif;
    margin: 20px 10px;
    border-bottom: solid 1px #CCCCCC;
}



.topicsList li {
    margin: 10px 0px;
    
    list-style-type: none;
}

/* bxslider */
.imageSlide {
    width: 475px;
    float: right;
}
.bxslider ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.bxslider ul li{
    position: relative;
}

/*================================================
 
 Topics

==================================================*/
.news h3 {
    border-left: solid 5px #ffa500;
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.333;
    
}

.news p {
    margin-bottom: 60px;
}

/*================================================
 
 About

==================================================*/
.activitiesText {
    margin-bottom: 50px;
}

.activitiesArea:after {
    content: "";
    clear: both;
    display: block;
}

.activitiesAreaText {
    float: left;
    width: 550px;
}

.activitiesAreaMap {
    float: right;
    width: 400px;
    border: 5px solid #ff710a;
    margin-top: 10px;
}

.activitiesAreaTitle {
    font-size: 26px;
    line-height: 1.231;
}

.activitiesArea h2 {
    font-family: 'Lato', sans-serif;
    margin: 30px 10px;
}

.activitiesArea .orange {
    font-size: 64px;
    line-height: 1.09375;
    color: #ff710a;
}

/*================================================

 member

==================================================*/
/* tableのCSSはtable.cssに記述してある */

.grade {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.grade .orange {
    font-size: 50px;
    color: #ff710a;
}

/*================================================
 
 result

==================================================*/

ul.container li.button a:nth-letter(7) {
    color: #00267f;
}

ul.container li.button span.blue {
    color: #00267f;
    text-shadow: 1px 1px 8px white;
    background-position:bottom left;
}

/* Vertical Accordion Style */
.va-container{
    position:relative;
    margin:40px auto 0 auto;
}

.va-wrapper{
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
    /* background:rgba(0,0,0,0.4); */
    background: rgba(0, 255, 0, 0.2);
}
.va-slice:nth-child(4n){
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0px;
    overflow:hidden;
    background: url(../images/result/01.png) no-repeat right center;
}

.va-slice:nth-child(4n+1){
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0px;
    overflow:hidden;
    background: url(../images/result/02.png) no-repeat right center;
}

.va-slice:nth-child(4n+2){
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0px;
    overflow:hidden;
    background: url(../images/result/03.png) no-repeat right center;
}

.va-slice:nth-child(4n+3){
    cursor:pointer;
    position:absolute;
    width:100%;
    left:0px;
    overflow:hidden;
    background: url(../images/result/04.png) no-repeat right center;
}

.va-title{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size:32px;
    margin-left:20px;
    margin-bottom: 0;
    margin-top: 20px;
    text-shadow: 0px 0px 8px white;
    line-height: 1.1;
    /* text-decoration: underline; */
}

.va-title span.orange {
    font-size: 60px;
    /* font-weight: 900; */
    color: #ff710a;
    line-height: 1.1;
}

.va-title span.blue {
    font-size: 50px;
    color: #00267f;
}

.va-content{
    display:none;
    margin-left:25px;
}

.va-slice p{
    font-size: 22px;
    font-style: italic;
    /* font-family:Georgia, serif; */
}

.va-slice ul{
    margin-top:20px;
    /* background-color: red; */
    
}

.va-slice ul li{
    /* float:left; */
    margin:0px 2px;
    /* border: 1px solid white; */
}
.va-slice ul li a{
    /* color:#000; */
    /* background:#eede2f; */
    /* padding:3px 6px; */
    /* font-size:14px; */
    /* font-family:'PT Sans', sans-serif; */
    /* text-transform:uppercase; */
}
.va-slice ul li a:hover{
    /* background:#000; */
    color:#fff;
    text-shadow:none;
}
.va-nav span{
    width:40px;
    height:25px;
    background:transparent url(../js/VerticalSlidingAccordion/images/prev.png) no-repeat center center;
    position:absolute;
    top:-35px;
    left:50%;
    margin-left:-20px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    display:none;
    z-index:100;
}
.va-nav span.va-nav-next{
    background-image:url(../js/VerticalSlidingAccordion/images/next.png);
    top:auto;
    bottom:-35px;
}
.va-nav span:hover{
    opacity:1.0;
}

/* Kwicks */
/* .kwicks { */
/*     /\* width: 125px; *\/ */
/*     height: 300px; */
/* } */

/* .kwicks > li { */
/*     /\* width: 125px; *\/ */
/*     height: 100px; */
/*     margin-top: 10px; */
/* } */

.va-content table {
    margin: 0 auto;
}

.va-content th {
    text-align: center;
}

.va-content td {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

/*================================================
 
 schedule

==================================================*/
#calendar {
    font-family: 'Lato', sans-serif;
}

.fc-left h2 {
    color: #ff710a;
}

/* 土曜日 */
.fc-widget-header .fc-sat {
    color: blue;
}


/* 日曜日 */
.fc-widget-header .fc-sun {
    color: red;
}

/*================================================
 
 contact

==================================================*/
.mailAddress {
    margin-left: 30px;
}

.accessMapImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 8px solid #ff710a;
}