@import url(http://fonts.googleapis.com/css?family=Lato:100);

body {
    color: #ffffff;
    background-color: #00267f;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

a:hover {
    font-family: 'Lato', sans-serif;
    color: #c0c0c0
}

#page {
    width: 980px;
    margin: 0 auto;
}

/* 見出し */
.clubName {
    font-size: 26px;
    line-height: 1.231;
    padding: 0;
    padding-left: 30px;
    margin: 10px 0;
}

.hoseiUniversity {
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    color: #ff710a;
    /* border-left: solid 5px #E3E34D; */
    /* padding-left: 10px; */
    margin-top: 50px;
    margin-bottom: 0;
    line-height: 0.9;
}

.softTennisClub {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    color: #ff710a;
    padding: 0;
    margin: 0;
    line-height: 0.9;
}

.wanted {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 1.25;
    margin: 0;
}

.pageTitle {
    width: 490px;
}

.text {
    padding: 10px 0;
    width: 440px;
}

/* グローバルナビ */
#pageHead .globalNavi {
    border: solid #CCCCCC;
    border-width: 1px 0;
    padding: 5px 0;
    margin-top: 30px;
}

#pageHead .globalNavi ul {
    margin: 0;
    padding: 0;

    positon: relative;
}

#pageHead .globalNavi ul:after {
    /* visibility: hidden; */
    height: 0;
    
    content: "";
    clear: both;
    display: block;
}

*:first-child+html .group {
    zoom: 1;
}

#pageHead .globalNavi ul li {
    list-style: none;
    width: 122.5px;
    float: left;
    border-left: solid 1px #CCCCCC;
    /* padding: 0 10px; */
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.429;

    display: inline-block;
}

#pageHead .globalNavi ul li:first-child {
    border-left: none;
}

#pageHead .globalNavi ul li a {
    color: inherit;
    text-decoration: none;
    line-height: 0.7;
    padding: 10px 10px;
    display: block;
}

#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current_page_item {
    background-color: #001135;
}

#pageHead .globalNavi ul li small {
    font-size: 10px;
    color: #808080;
}

#magic-line .first-child {
    border-left: none;
}

#magic-line {
    /* display: inline-block; */
    
    position: absolute;
    top: 80px;
    bottom: 10px; 
    left: 0; 
    width: 100px; 
    height: 10px;
    
    /* background: #fe4902; */
    /* background: #001135; */
    
    background: url(../images/bg_magic-line.png) center top;
    /* background-image: url(../images/bc_magic-line.png); */
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    
    /* ストライプ模様 */
    /*
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,
				       color-stop(.25, #001135), color-stop(.25, transparent),
				       color-stop(.5, transparent), color-stop(.5, #001135),
				       color-stop(.75, #001135), color-stop(.75, transparent),
				       to(transparent));
    background-image: -webkit-linear-gradient(-45deg, #001135 25%, transparent 25%,
					      transparent 50%, #001135 50%, #001135 75%,
					      transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #001135 25%, transparent 25%,
					   transparent 50%, #001135 50%, #001135 75%,
					   transparent 75%, transparent);
    background-image: -ms-linear-gradient(-45deg, #001135 25%, transparent 25%,
					  transparent 50%, #001135 50%, #001135 75%,
					  transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, #001135 25%, transparent 25%,
					 transparent 50%, #001135 50%, #001135 75%,
					 transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #001135 25%, transparent 25%,
				      transparent 50%, #001135 50%, #001135 75%,
				      transparent 75%, transparent);
*/
}

.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}

#copyright small {
    font-size: 12px;
    line-height: 1.429;
}

#pageFoot {
    margin-top: 30px;
}
