/* --------------------------------------------------
   selfIntro Table
-------------------------------------------------- */

/* .member-table { */
/*     margin: 0 auto; */
/*     width: 900px; */
/* } */

.member-table-row {

}

.member-table-row:after {
    display: block;
    content: "";
    clear: both;
    visibility:hidden;
}

.member-table table td:nth-child(even) {
    width: 250px;
    background: rgba(0, 255, 0, 0.2);
    
}

.member-table table {
    margin: 10px auto;
    text-align: center;
    background: rgba(0, 255, 0, 0.2);
}

.member-table:after {
    
}

.table-left {
    width: 50%;
    float: left;
}

.table-right {
    width: 50%;
    float: right;
}

td {
    padding: 10px 10px;
}