/* --------------------------------------------------
   selfIntro Table
-------------------------------------------------- */

.member-table {
    margin: 0 auto;
    width: 900px;
}

.member-table-row {
    margin: 20px 0;
}

.member-table-row:after {
    display: block;
    content: "";
    clear: both;
    visibility:hidden;
}

.member-table table {
    text-align: center;
    display: inline-block;
}

.member-table:after {
    
}

.table-left {
    width: 400px;
    float: left;
}

.table-right {
    width: 400px;
    float: right;
}

td {
    padding: 10px 10px;
}